@page "/faculty/dashboard"
<div class="nav-item px-3">
    <NavLink class="nav-link d-flex align-items-center nav-item-custom" href="/assignments/create">
        <span>Add Assignment</span>
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link d-flex align-items-center nav-item-custom" href="/submissions">
        <span>View Student Submissions</span>
    </NavLink>
</div>


