@inject Project.Components.Services.CurrentUserServies CurrentUserServices

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center nav-item-custom" href="/" Match="NavLinkMatch.All">
                <span>Home</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center nav-item-custom" href="/logindata/create">
                <span>Login</span>
            </NavLink>
        </div>

      
    </nav>
</div>
