@page "/student/dashboard"

<div class="nav-item px-3">
    <NavLink class="nav-link d-flex align-items-center nav-item-custom" href="/submit">
        <span>Want to Submit Assignments</span>
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link d-flex align-items-center nav-item-custom" href="/assignment/show" >
        <span>View Assignments</span>
    </NavLink>
</div>


